@import "tailwindcss";
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #1a1a1c;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #343437;
    border-radius: 100vh;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f47;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
